*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

section p{
    width: 80%;
}

section a{
    color: blackч;
}

#pink{
    background-color: pink;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}